In [5]:
sal='what is your salary?'

In [3]:
sal

'what is your salary?'

In [4]:
sal+1

TypeError: must be str, not int

In [6]:
print('abc'+'123')

abc123

In [7]:
print('hi\n'*4)

hi
hi
hi
hi

In [9]:
print("\"is a double quote")

"is a double quote

In [12]:
hours=input('what are the no. of hours?')
rate=input('what is the hourly rate?')
pay=float(hours)*float(rate)
print(pay)

what are the no. of hours?1
what is the hourly rate?1
1.0

#### rate=int(input("Enter Rate: "))
if rate>10 :
    print("you are too costly")

In [28]:
x= int(input("whats the value of x: "))
if int(x>100) :
    print("too costly")
else :
    print("cheap")
print("all done")

whats the value of x: 1000
too costly
all done

In [24]:
rate = input('Enter rate: ')
if float (rate > 10) :
    print(rate)
else : 
    print('Too cheap to sell')

Enter rate: 100

TypeError: '>' not supported between instances of 'str' and 'int'

In [30]:
try:
    rate=float(input("enter rate: "))
except:
    print("this is your last chance. enter correct rate")
    rate=float(input("enter rate: "))

enter rate: k
this is your last chance. enter correct rate
enter rate: 7

In [39]:
hours=input("Enter hours: ")
rate=input("enter rate: ")
ihours=int(hours)
irate=int(rate)

if ihours<=40 :
    pay=ihours*irate
else :
    pay=40*irate+ (ihours-40)*irate*2
print(pay)

Enter hours: 50
enter rate: 1
60

In [41]:
try:
    hours=input("Enter hours: ")
    rate=input("enter rate: ")
    ihours=int(hours)
    irate=int(rate)

    if ihours<=40 :
        pay=ihours*irate
    else :
        pay=40*irate+ (ihours-40)*irate*2
    print(pay)
except:
    print("please enter correct numeric value.")
    hours=input("Enter hours: ")
    rate=input("enter rate: ")
    ihours=int(hours)
    irate=int(rate)

    if ihours<=40 :
        pay=ihours*irate
    else :
        pay=40*irate+ (ihours-40)*irate*2
    print(pay)

Enter hours: w
enter rate: w
please enter correct value.
Enter hours: 1
enter rate: 1
1

In [42]:
    hours=input("Enter hours: ")
    rate=input("enter rate: ")
    ihours=int(hours)
    irate=int(rate)

    if ihours<=40 and ihours >=10:
        pay=ihours*irate
    elif ihours<10:
        pay=ihours*irate
    else :
        pay=40*irate+ (ihours-40)*irate*2
    print(pay)

Enter hours: 45
enter rate: 2
100

In [46]:
hours=float(input("Enter hours: "))
rate= float(input("Enter rate: "))
if hours<=40 and hours>=0:
    pay=hours*rate
elif hours<0:
    print("Not an acceptable value")
    break
else:
    pay=40*rate+ (hours-40)*rate*2
print(pay)

Enter hours: -1
Enter rate: 2

SyntaxError: 'break' outside loop (<ipython-input-46-8cf94782257e>, line 7)

In [48]:
#Rectangle left_top_x, left_top_y and right_bottom_x, right_bottom_y
left_top_x=0
left_top_y=0
right_bottom_x=10
right_bottom_y=20

x=100
y=100
#Is this point (x,y) inside the rectangle?

if(x>left_top_x and x<right_bottom_x) and (y>left_top_y and y<right_bottom_y):
    print("the point is within the rectangle")

else:
    print("the point is outside of the rectangle")

the point is outside of the rectangle

In [52]:
def thing():
    print("Hello")
    print("Hi")

thing()

Hello
Hi

In [54]:
def add(x,y):
    print(x+y)
add('2','3')

23

In [61]:
big=max("Hello world")
small=min("Hello world")
print(small)

In [69]:
def greet(lang):
    if lang=='eng':
        print("Hello")
    elif lang=='esp':
        print("Holla")
    else:
        print("Bonjour")

x= greet('fff')
print(x)

Bonjour
None

In [71]:
def add(a,b):
    return (a+b)
x=add(2,7)
print(x)

9

In [78]:
def computepay(hours,rate):
    if hours<=40 and rate>=0:
        pay=hours*rate
    elif hours>40 and rate>=0:
        pay=40*rate+ (hours-40)*rate*2
    else:
        pay="Not an acceptable value, Please try again"
    return (pay)

final=computepay(30,-1)
print(final)

Not an acceptable value, Please try again

In [80]:
n=5
while n>0:
    print(n)
    n=n-1
print("Blastoff")
print(n)

5
4
3
2
1
Blastoff
0

In [81]:
while True:
    line=input("< ")
    if line[0]=='#':
        continue
    if line == 'done':
        break
    print(line)

< name

In [83]:
for i in [5,4,3,2,1]:
    print(i)
print("Blastoff")

5
4
3
2
1
Blastoff

In [ ]:
for i in [5,4,3,2,1]:
    while i>0:
        print(".")
        i=i-1
    print(i)
    print("Blastoff")

In [85]:
count=0
sum=0
print('Before',count,sum)
for value in [2,4,6,9,10,15,15]:
    count=count+1
    sum=sum+value
    print(count, sum, value)
average=sum/count
print(average)

Before 0 0
1 2 2
2 6 4
3 12 6
4 21 9
5 31 10
6 46 15
7 61 15
8.714285714285714

In [86]:
count = 0
sum = 0
print ('Before', count, sum)
for value in [9, 41, 12, 3, 74, 15] :
    count = count + 1
    sum = sum + value
    print (count, sum, value)
print ('After', count, sum, sum / count)

Before 0 0
1 9 9
2 50 41
3 62 12
4 65 3
5 139 74
6 154 15
After 6 154 25.666666666666668

In [87]:
#Largest Value
largest_so_far=-1
print("Before", largest_so_far)
for i in [3,10,100,88,6,1]:
    if i>largest_so_far:
        largest_so_far=i
print("After",largest_so_far)

Before -1
After 100

In [90]:
#Smallest Value
smallest_so_far=None
print("Before",smallest_so_far)
for i in [3,10,100,88,6,1]:
    if smallest_so_far is None:
        smallest_so_far=i
    if i<smallest_so_far:
        smallest_so_far=i
    print(smallest_so_far,i)
print("After",smallest_so_far)

Before None
3 3
3 10
3 100
3 88
3 6
1 1
After 1

In [92]:
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [94]:
fruit='banana'
for letter in fruit:
    print(letter)

b
a
n
a
n
a

In [95]:
s='Monty Python'
s[1:4]

'ont'

In [96]:
fruit="Banana"
help(fruit)

No Python documentation found for 'Banana'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.

In [97]:
type(fruit)

str

In [98]:
dir(fruit)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [99]:
fruit.capitalize()

'Banana'

In [100]:
fruit.upper()

'BANANA'

In [101]:
fruit.find("na")

2

In [102]:
fruit.replace("na","ni")

'Banini'

In [105]:
"this is a new line\n".split()

['this', 'is', 'a', 'new', 'line']

In [12]:
fhandle=open('mbox.txt')
for i in fhandle:
    print(i)

This is one line

This is another line

In [15]:
fhandle=open('mbox.txt')
count=0
for line in fhandle:
    count=count+1
print("No of lines are: ",count)

No of lines are:  2

In [10]:
fhandle.read()

'This is one line\nThis is another line'

In [18]:
fhandle=open("mbox.txt")
inp=fhandle.read()
print(len(inp))
print(len(inp[:36]))

37
36

In [20]:
fhandle=open("mbox.txt")
for line in fhandle:
    if line.startswith("This"):
        print(line)

In [21]:
from tkinter import *